  <% @topic_us.each do |topic_u| %>
    <p>
    <%= link_to topic_u.text, topic_u_path(id: topic_u.id) %>
    <%= topic_u.user.name %>
    <%= topic_u.created_at %>
    <%= topic_u.topic_ds.count %>
    <% favorite_us = TopicU.favorite_us(topic_u.id) %>
    <% if favorite_us.user.include?(current_user) %>
      <%= link_to '❤', favorite_destroy_path(topic_id: topic_u_id, topic_type: "above") %>
    <% else %>
      <%= link_to '♡', favorites_create_path(topic_id: topic_u.id, topic_type: "above") %>
    <% end %>
    </p>
  <% end %>